<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Liste des messages</title>
</head>
<body>

<h1>Liste des Messages</h1>

<table>
    <tr>
        <th>MESSAGE</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
    </tr>
</table>

<div th:if="${newMessage != null}">
    <h2>Nouveau Message</h2>
    <p th:text="${newMessage.content}" />
</div>

<a href="/new">Submit another message</a>
</body>
</html>
